.DS_Store
bin/
proxy_bin/
target/
generated-sources/
.metadata/
**/.*.swp
RemoteSystemsTempFiles/
.project
.classpath
.settings
*.iml
.idea
.factorypath
.apt_generated/
example-problems/*/.gradle
example-problems/*/gradle
example-problems/*/gradlew
example-problems/*/gradlew.bat
gradle-plugin/.gradle/

