body {
  font-family: Roboto, sans-serif;
  line-height: 1.15;
  font-size: 16pt;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  font-size: 96pt;
  margin-bottom: 1ex;
}

div.cloud-logo {
  height: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p, li {
  width: 40em;
  max-width: 90%;
}

footer p {
  margin: 0.15ex;
}

li {
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
}

@media only screen and (min-width : 1024px) {
  body {
    margin-left: 8em;
  }
}
