 .PASS {
   background-color: green;
   font-weight: bold;
 }
 .FAIL {
   background-color: red;
   font-weight: bold;
 }
 .UNAVAILABLE {
   background-color: gray;
   font-weight: bold;
 }

 table.round-robin-table {
   border-collapse: collapse;
 }

 table.round-robin-table td, table.round-robin-table th {
   border: 1px solid black;
   margin: 0;
 }
 
 body {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.625;
 }

 h1,
 h2,
 h3 {
   color: #333333;
   font-weight: 700;
   margin: 0;
   line-height: 1.2;
 }
 
 h1 {
   font-size: 36pt;
 }
 
 h2 {
   font-size: 30pt;
 }
 
 h3 {
   font-size: 24pt;
 }
 th, td {
   padding: 5pt;
 }
 
 pre {
  line-height: normal;
 }