 .PASS {
   background-color: green;
   font-weight: bold;
 }
 .FAIL {
   background-color: red;
   font-weight: bold;
 }
 .UNAVAILABLE {
   background-color: gray;
   font-weight: bold;
 }

 p.DEPENDENCY_TREE_NODE {
   margin-top: 0;
   margin-bottom: 0;
 }

 .static-linkage-check-dependency-paths {
   margin-left: 15pt;
 }

 li.linked-from-artifact-true {
   font-weight: bold;
 }

 body {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.625;
 }

 h1,
 h2,
 h3 {
   color: #333333;
   font-weight: 700;
   margin: 0;
   line-height: 1.2;
   margin-top: 1ex;
   margin-bottom: 1ex;
 }
 
 h1 {
   font-size: 36pt;
 }
 
 h2 {
   font-size: 30pt;
 }
 
 h3 {
   font-size: 24pt;
 }
 th, td {
   padding: 5pt;
 }
 
 pre {
   line-height: normal;
 }