 .PASS {
   background-color: lightgreen;
   font-weight: bold;
 }
 .FAIL {
   background-color: pink;
   font-weight: bold;
 }
 .UNAVAILABLE {
   background-color: gray;
   font-weight: bold;
 }

 p.DEPENDENCY_TREE_NODE {
   margin-top: 0;
   margin-bottom: 0;
 }

 .static-linkage-check-dependency-paths {
   margin-left: 15pt;
 }

 li.linked-from-artifact-true {
   font-weight: bold;
 }

 body {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.625;
 }

 h1,
 h2,
 h3 {
   color: #333333;
   font-weight: 700;
   margin: 0;
   line-height: 1.2;
   margin-top: 1ex;
   margin-bottom: 1ex;
 }
 
 h1 {
   font-size: 36pt;
 }
 
 h2 {
   font-size: 30pt;
 }
 
 h3 {
   font-size: 24pt;
 }
 
 th, td {
   padding: 5pt;
 }
 
 pre {
   line-height: normal;
 }
 
 /* ----- Statistic ----- */
.statistic {
    padding-top: 57px;
}


.statistic__item {
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 20px 30px;
    position: relative;
    min-height: 180px;
    overflow: hidden;
    margin-bottom: 40px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .statistic__item {
        padding: 20px 10px;
    }
}

.statistic__item h2 {
    font-size: 36px;
    font-weight: 300;
    color: #4272d7;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .statistic__item h2 {
        font-size: 22px;
    }
}

.statistic__item .desc {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    color: rgba(128, 128, 128, 0.6);
}

@media (min-width: 992px) and (max-width: 1199px) {
    .statistic__item .desc {
        font-size: 13px;
    }
}

.statistic__item .icon {
    display: inline-block;
    position: absolute;
    bottom: -50px;
    right: -7px;
}

.statistic__item .icon i {
    font-size: 180px;
    color: #808080;
    opacity: .2;
    line-height: 1;
    vertical-align: baseline;
}

.statistic__item--green {
    background: #00b26f;
}

.statistic__item--orange {
    background: #ff8300;
}

.statistic__item--blue {
    background: #00b5e9;
}

.statistic__item--red {
    background: #fa4251;
}

.statistic__item--yellow {
    background: #f1c40f;
}
 
 /* ----- Statistic 2 ----- */
.statistic2 {
    padding-top: 50px;
}

.statistic2 .statistic__item {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.statistic2 .statistic__item h2 {
    color: #fff;
}

.statistic2 .statistic__item .desc {
    color: rgba(255, 255, 255, 0.6);
}
 